# Environment variables
Backend/.env

# Python
Backend/__pycache__/
Backend/.venv/
Backend/venv/

# Flutter
frontend/build/
frontend/.dart_tool/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
__pycache__/
*.pyc

.firebase/
